@model IEnumerable<InTouch_WEBClient.Models.UserUniversity>
@{
    ViewBag.Title = "GetUsers";
    Layout = null;
}

<header>

</header>
<content>
    @foreach (var item in Model.ToList())
    {
        <div>
            <span>
                @item.User.Name
            </span>
            <span>
                @item.User.Surname
            </span>
            <span>
                @item.University.Name
            </span>
        </div>
    }
</content>
<footer>

</footer>

