
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header class="row">
        <div class="col-3 logo-wrapper">

        </div>
        <div class="col-9 menu-wrapper">
            <nav class="menu">
                <a href=""><i class="fa fa-home" aria-hidden="true"></i><span>Главная</span></a>
                <a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i><span>Новости</span></a>
                <a href=""><i class="fa fa-info-circle" aria-hidden="true"></i><span>О нас</span></a>
                <a href=""><i class="fa fa-rss" aria-hidden="true"></i><span>Контакты</span></a>
                <a href=""><i class="fa fa-sign-in" aria-hidden="true"></i><span>Авторизация</span></a>
            </nav>
        </div>
    </header>
    @RenderBody()
</body>
</html>
